{{ header }}{{ column_left }}
<div id="content">
    <!-- ----------- -->
    <!-- Page Header -->
    <!-- ----------- -->
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>

            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>

            <div class="float-end">
                <button
                    type="submit"
                    form="form-module"
                    data-bs-toggle="tooltip"
                    title="{{ button_save }}" class="btn btn-primary"
                ><i class="fa-solid fa-save"></i></button>

                <a href="{{ back }}"
                   data-bs-toggle="tooltip"
                   title="{{ button_back }}"
                   class="btn btn-light"
                ><i class="fa-solid fa-reply"></i></a>
            </div>
        </div>
    </div>

    <!-- ---- -->
    <!-- Main -->
    <!-- ---- -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <i class="fa-solid fa-pencil"></i>
                {{ text_edit }}
            </div>

            <div class="card-body">
                <form id="form-module" action="{{ action }}" method="post" data-oc-toggle="ajax">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a href="#tab-general" class="nav-link active" data-bs-toggle="tab">General</a></li>
                        <li class="nav-item"><a href="#tab-notification" class="nav-link" data-bs-toggle="tab">Notification</a></li>
                        <li class="nav-item"><a href="#tab-button-appearance" class="nav-link" data-bs-toggle="tab">Button Appearance</a></li>
                        <li class="nav-item"><a href="#tab-modal-fields" class="nav-link" data-bs-toggle="tab">Modal Fields</a></li>
                        <li class="nav-item"><a href="#tab-template" class="nav-link" data-bs-toggle="tab">Template</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-general" class="tab-pane active">
                            <div class="row mb-3">
                                <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="status" id="input-status" class="form-select">
                                        <option value="1" {{ status ? 'selected' : '' }}>{{ text_enabled }}</option>
                                        <option value="0" {{ status ? '' : 'selected' }}>{{ text_disabled }}</option>
                                    </select>
                                    <span id="error-status" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="input-product-quantity" class="col-sm-2 col-form-label">{{ entry_product_quantity }}</label>
                                <div class="col-sm-10">
                                    <input type="number" name="product_quantity" id="input-product-quantity" class="form-control" value="{{ product_quantity }}" />
                                    <span class="form-text">{{ help_product_quantity }}</span>
                                    <span id="error-product-quantity" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="input-terms" class="col-sm-2 col-form-label">{{ entry_terms }}</label>
                                <div class="col-sm-10">
                                    <select name="terms" id="input-terms" class="form-select">
                                        {% for information in informations %}
                                        <option value="{{ information.information_id }}" {{ information.information_id == terms ? 'selected' : '' }}>{{ information.title }}</option>
                                        {% endfor %}
                                    </select>
                                    <span id="error-terms" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="input-modal-size" class="col-sm-2 col-form-label">Modal Size</label>
                                <div class="col-sm-10">
                                    <select name="modal_size" id="input-modal-size" class="form-select">
                                        <option value="modal-sm" {{ modal_size == 'modal-sm' ? 'selected' : '' }}>Small</option>
                                        <option value="" {{ modal_size == '' ? 'selected' : '' }}>Default</option>
                                        <option value="modal-lg" {{ modal_size == 'modal-lg' ? 'selected' : '' }}>Large</option>
                                        <option value="modal-xl" {{ modal_size == 'modal-xl' ? 'selected' : '' }}>Extra Large</option>
                                    </select>
                                    <span id="error-modal-size" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="input-telemetry" class="col-sm-2 col-form-label">{{ entry_telemetry }}</label>
                                <div class="col-sm-10">
                                    <div class="alert alert-info">
                                        <span>{{ text_telemetry_info }}</span>
                                        <select name="telemetry" id="input-telemetry" class="form-select">
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        </select>
                                        <span>{{ text_telemetry_doc }}
                                    </div>
                                    <span id="error-telemetry" class="invalid-feedback"></span>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="input-newsletter" class="col-sm-2 col-form-label">{{ entry_newsletter }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="newsletter" id="input-newsletter" class="form-control" value="{{ newsletter }}" />
                                    <span id="error-newsletter" class="invalid-feedback"></span>
                                </div>
                            </div>
                        </div>

                        <div id="tab-notification" class="tab-pane">
                            <div class="row mb-3">
                                <label for="input-notification-type" class="col-sm-2 col-form-label">{{ entry_notification_type }}</label>
                                <div class="col-sm-10">
                                    <select name="notification_type" id="input-notification-type" class="form-select">
                                        <option value="default" {{ notification_type == 'default' ? 'selected' : '' }}>OpenCart Default</option>
                                        <option value="smtp" {{ notification_type == 'smtp' ? 'selected' : '' }}>SMTP</option>
                                        <option value="sqs" {{ notification_type == 'sqs' ? 'selected' : '' }}>Amazon Simple Queue Service</option>
                                        <option value="ses" {{ notification_type == 'ses' ? 'selected' : '' }}>Amazon Simple Email Service (Coming Soon)</option>
                                        <option value="redis" {{ notification_type == 'redis' ? 'selected' : '' }}>Redis (Coming Soon)</option>
                                    </select>
                                    <span id="error-notification-type" class="invalid-feedback"></span>
                                </div>
                            </div>

                            {# 
                                @todo Exibir/esconder os fieldset conforme a configuração acima
                             #}

                            <fieldset>
                                <legend>SMTP</legend>

                                <div class="row mb-3">
                                    <label for="input-smtp-hostname" class="col-sm-2 col-form-label">{{ entry_smtp_hostname }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="input-smtp-hostname" class="form-control" name="smtp_hostname" value="{{ smtp_hostname }}" />
                                        <span class="form-text">{{ help_smtp_hostname }}</span>
                                        <span id="error-smtp-hostname" class="invalid-feedback"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="input-smtp-username" class="col-sm-2 col-form-label">{{ entry_smtp_username }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="input-smtp-username" class="form-control" name="smtp_username" value="{{ smtp_username }}" />
                                        <span id="error-smtp-username" class="invalid-feedback"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="input-smtp-password" class="col-sm-2 col-form-label">{{ entry_smtp_password }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="input-smtp-password" class="form-control" name="smtp_password" value="{{ smtp_password }}" />
                                        <span class="form-text">{{ help_smtp_password }}</span>
                                        <span id="error-smtp-password" class="invalid-feedback"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="input-smtp-port" class="col-sm-2 col-form-label">{{ entry_smtp_port }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="input-smtp-port" class="form-control" name="smtp_port" value="{{ smtp_port }}" />
                                        <span id="error-smtp-port" class="invalid-feedback"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="input-smtp-timeout" class="col-sm-2 col-form-label">{{ entry_smtp_timeout }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="input-smtp-timeout" class="form-control" name="smtp_timeout" value="{{ smtp_timeout }}" />
                                        <span id="error-smtp-timeout" class="invalid-feedback"></span>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Amazon Simple Queue Service</legend>

                                <div class="alert alert-info" role="alert">{{ text_sqs_info }}</div>

                                <div class="row mb-3">
                                    <label for="input-sqs-access-key" class="col-sm-2 col-form-label">{{ entry_sqs_access_key }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="input-sqs-access-key" name="sqs_access_key" class="form-control" value="{{ sqs_access_key }}" />
                                        <span id="error-sqs-access-key" class="invalid-feedback"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="input-sqs-secret-key" class="col-sm-2 col-form-label">{{ entry_sqs_secret_key }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="input-sqs-secret-key" name="sqs_secret_key" class="form-control" value="{{ sqs_secret_key }}" />
                                        <span id="error-sqs-secret-key" class="invalid-feedback"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="input-sqs-region" class="col-sm-2 col-form-label">{{ entry_sqs_region }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="input-sqs-region" name="sqs_region" class="form-control" value="{{ sqs_region }}" />
                                        <span class="form-text">{{ help_sqs_region }}</span>
                                        <span id="error-sqs-region" class="invalid-feedback"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="input-sqs-queue-url" class="col-sm-2 col-form-label">{{ entry_sqs_queue_url }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="input-sqs-queue-url" name="sqs_queue_url" class="form-control" value="{{ sqs_queue_url }}" />
                                        <span id="error-sqs-queue-url" class="invalid-feedback"></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="input-sqs-queue-batch" class="col-sm-2 col-form-label">{{ entry_sqs_queue_batch }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="input-sqs-queue-batch" name="sqs_queue_batch" class="form-control" value="{{ sqs_queue_batch }}" />
                                        <div class="form-text">{{ help_sqs_queue_batch }}</div>
                                        <span id="error-sqs-queue-batch" class="invalid-feedback"></span>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Amazon Simple Email Service</legend>

                                <div class="alert alert-info">{{ text_ses_info }}</div>
                            </fieldset>

                            <fieldset>
                                <legend>Redis</legend>

                                <div class="alert alert-info">{{ text_redis_info }}</div>
                            </fieldset>
                        </div>

                        <div id="tab-button-appearance" class="tab-pane">
                            <div class="row">
                                <div class="col">
                                    <fieldset>
                                        <legend>{{ text_button_title }}</legend>

                                        {% for language in languages %}
                                        <div class="row mb-3">
                                            <label for="input-button-title" class="col-sm-3 col-form-label">
                                                <img src="{{ language.image }}" alt="{{ language.name }}" />
                                                {{ language.name }}
                                            </label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="button_title[{{ language.language_id }}]" id="input-button-title-{{ language.language_id }}" value="{{ button_title[language.language_id] }}" />
                                                <span id="error-button-title-{{ language.language_id }}" class="invalid-feedback"></span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </fieldset>

                                    <fieldset>
                                        <legend>{{ text_button_colors }}</legend>

                                        <div class="row mb-3">
                                            <label for="input-button-background-color" class="col-sm-3 col-form-label">{{ entry_background_color }}</label>
                                            <div class="col-sm-9">
                                                <input type="color" name="button_background_color" id="input-button-background-color" value="{{ button_background_color }}" />
                                                <span id="error-button-background-color" class="invalid-feedback"></span>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="input-button-font-color" class="col-sm-3 col-form-label">{{ entry_font_color }}</label>
                                            <div class="col-sm-9">
                                                <input type="color" name="button_font_color" id="input-button-font-color" value="{{ button_font_color }}" />
                                                <span id="error-button-font-color" class="invalid-feedback"></span>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="input-button-border-color" class="col-sm-3 col-form-label">{{ entry_border_color }}</label>
                                            <div class="col-sm-9">
                                                <input type="color" name="button_border_color" id="input-button-border-color" value="{{ button_border_color }}" />
                                                <span id="error-button-border-color" class="invalid-feedback"></span>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <legend>{{ text_button_sizes }}</legend>

                                        <div class="row mb-3">
                                            <label for="input-button-size" class="col-sm-2 col-form-label">{{ entry_button_size }}</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="button_size" id="input-button-size" class="form-control" value="{{ button_size }}" />
                                                <span class="form-text">{{ help_button_size }}</span>
                                                <span id="error-button-size" class="invalid-feedback"></span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="align-items-center col d-flex justify-content-center">
                                    <input type="hidden" name="button_css_text" value="{{ button_css_text }}" />
                                    <button type="button" id="button-example" class="btn"></button>
                                </div>
                            </div>
                        </div>

                        <div id="tab-modal-fields" class="tab-pane">
                            <div class="alert alert-info">{{ help_new_custom_field }}</div>

                            <div class="row mb-3">
                                <div class="col-6 mb-3 form-check">
                                    <input type="checkbox" id="input-modal-field-name" checked disabled />
                                    <label for="input-modal-field-name" class="col-sm-2 col-form-control">Name</label>
                                    <span id="error-modal-field-name" class="invalid-feedback"></span>
                                </div>

                                <div class="col-6 mb-3 form-check">
                                    <input type="checkbox" id="input-modal-field-email" checked disabled />
                                    <label for="input-modal-field-email" class="col-sm-2 col-form-control">E-mail</label>
                                    <span id="error-modal-field-email" class="invalid-feedback"></span>
                                </div>

                                {% for custom_field in custom_fields %}
                                <div class="col-6 mb-3 form-check">
                                    <input type="checkbox" name="modal_custom_fields[]" id="input-modal-fields-{{ custom_field.custom_field_id }}" value="{{ custom_field.custom_field_id }}" />
                                    <label for="input-modal-fields-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-control">{{ custom_field.name }}</label>
                                    <span id="error-modal-fields-{{ custom_field.custom_field_id }}" class="invalid-feedback"></span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div id="tab-template" class="tab-pane">
                            <div class="row">
                                <div class="col">
                                    <div class="alert alert-info">
                                        <p><b>{{ text_variables }}</b></p>

                                        <table class="table w-50">
                                            <tbody>
                                                <tr>
                                                    <td>{{ '{{ customer_name }}' }}</td>
                                                    <td>{{ text_customer_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ '{{ customer_email }}' }}</td>
                                                    <td>{{ text_customer_email }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ '{{ product_name }}' }}</td>
                                                    <td>{{ text_product_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ '{{ product_price }}' }}</td>
                                                    <td>{{ text_product_price }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ '{{ product_image }}' }}</td>
                                                    <td>{{ text_product_image }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ '{{ product_description }}' }}</td>
                                                    <td>{{ text_product_description }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ '{{ product_link }}' }}</td>
                                                    <td>{{ text_product_link }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label for="input-template-html" class="col-sm-2 col-form-label">HTML</label>
                                    <textarea name="template_html" id="input-template-html" rows="25" class="p-3 w-100">{{ template_html }}</textarea>
                                    <span id="error-template-html" class="invalid-feedback"></span>
                                </div>

                                <div class="col">
                                    <span class="col-sm-2 col-form-label">{{ text_preview }}</span>
                                    <div id="template-preview"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const buttonExample = document.querySelector('#button-example');
    const inputButtonCssText = document.querySelector('[name="button_css_text"]');

    document.querySelectorAll('[id^="input-button-title"]').forEach((el) =>
        el.addEventListener('input', ev => {
            buttonExample.textContent = ev.target.value;
        })
    )

    document.querySelector('#input-button-background-color').addEventListener('input', ev => {
        buttonExample.style.backgroundColor = ev.target.value;
        inputButtonCssText.value = buttonExample.style.cssText;
    });

    document.querySelector('#input-button-font-color').addEventListener('input', ev => {
        buttonExample.style.color = ev.target.value;
        inputButtonCssText.value = buttonExample.style.cssText;
    });

    document.querySelector('#input-button-border-color').addEventListener('input', ev => {
        buttonExample.style.borderColor = ev.target.value;
        inputButtonCssText.value = buttonExample.style.cssText;
    });

    document.querySelector('#input-button-size').addEventListener('input', ev => {
        buttonExample.style.width = ev.target.value;
        inputButtonCssText.value = buttonExample.style.cssText;
    });

    const templatePreview = document.querySelector('#template-preview')
        .attachShadow({ mode: 'open' });

    document.querySelector('#input-template-html').addEventListener('input', ev => {
        templatePreview.innerHTML = ev.target.value;
    });

    document.querySelectorAll('#tab-button-appearance input').forEach((el) =>
        el.dispatchEvent(new Event('input'))
    )
</script>
{{ footer }}